<h1>Listing stats</h1>

<table border ="1">

<% @stats.each do |entry| %>
  <tr>
    <td><u><%= entry[:kind] %></u></td>
    <td><b><%= entry[:val] %></b></td>
  </tr>
<% end %>
</table>


<iframe frameborder='0' height='1100px' width='1200px' id='embedded' src='https://www.stathat.com/cards/Q1gcKQzP5kn3' />