#For wikiMeta key: http://my.wikimeta.com/amember/signup/index/c/
wikiMeta-key = YourWikiMetaKey

#For OpenCalais key: http://www.opencalais.com/APIkey
openCalais-key = YourOpenCalaisKey

#FourStore database
FourStore-server = http://localhost:8080
Virtuoso-server-uri = jdbc:virtuoso://localhost:1111

#virtuoso password and login
Virtuoso-server-user = dba
Virtuoso-server-pass = dba

#twitter OAuth 
Twitter-OAuth-customer = OAuthCustomer
Twitter-OAuth-customerKey = OAuthCustomerKey

zone-plugins = org.zoneproject.extractor.twitterreader.App
zone-plugins = org.zoneproject.extractor.rssreader.App
zone-plugins = org.zoneproject.extractor.plugin.extractarticlescontent.App
zone-plugins = org.zoneproject.extractor.plugin.opencalais.App
zone-plugins = org.zoneproject.extractor.plugin.wikimeta.App
zone-plugins = org.zoneproject.extractor.plugin.inseegeo.App