/ZONE-extractor/ZONE-plugin-categorization_SVM/target/
/ZONE-extractor/ZONE-TwitterReader/target/
/log/
*~
*#
*.log
.project
/db/schema.rb
/ZONE-extractor/ZONE-plugin-DBPedia-geo/target/
/ZONE-extractor/ZONE-plugin-Spotlight/target/
/ZONE-extractor/ZONE-plugin-LangDetect/target/
/ZONE-extractor/ZONE-plugin-DBPedia/target/