/ZONE-utils/target/
/ZONE-extractor/target/
/ZONE-plugin-ExtractArticlesContent/target/
/ZONE-plugin-OpenCalais/target/
/ZONE-plugin-WikiMeta/target/
/ZONE-RSSreader/target/
/ZONE-extractor/ZONE-RSSreader/target/
/ZONE-extractor/ZONE-utils/target/