/ZeOntologyNewsExtractor/build/
/ZeOntologyNewsExtractor/resources/geographie/
/ZeOntologyNewsExtractor/dist/
/ZeOntologyNewsExtractor/nbproject/private/
/ZeOntologyNewsExtractor/out/
/ZeOntologyNewsExtractor/ZONE.conf
