        <div class="container">
            <div class="row">
                <div class="span16 columns body-content">
                    <div>
                        <form action="#">
                            <fieldset>
                                <div class="clearfix">
                                    <label>What are you looking for?</label>
                                    <div class="input">
                                        <ul id="filter-select" class="fake-input" tabindex="1">
                                        </ul>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="actions">
                              <button type="submit" class="btn primary">Let us know</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>