<h3>Sortable : true</h3>

<div class="box">
  <ul id="selectFilters" name="selectFilters">
    <li>here</li>
    <li>are</li>
    <li>some</li>
    <li>initial</li>
    <li>tags</li>
  </ul>
  <div class="buttons">
    <button id="selectFiltersStart" value="Get News">Get News</button>
  </div>
</div>

        <div class="container">
            <div class="row">
                <div class="span16 columns body-content">
                    <div>
                        <p>
                            Select the programming languages you know.
                            (You could also <a href="#" id="add-all-link">add all we know</a>.)
                        </p>
                        <form action="#">
                            <fieldset>
                                <div class="clearfix">
                                    <label>Experience in</label>
                                    <div class="input">
                                        <ul id="languages-select" class="fake-input" tabindex="1">
                                            <li>Java</li>
                                        </ul>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="actions">
                                <a href="#" class="btn primary">
                                    Let us know
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>