<div class="row" xmlns="http://www.w3.org/1999/html">
	<div class="span2"></div>
	<div id="dino-logo" class="span3"><img src="/assets/dino.png"/>
	</div>
	<div class="span5 ">
		<h1 class="triangle-border left"  id="reador-title"><%= raw t 'search.infobulle' %></h1>

		<div class="row-fluid">
			<div class="span12 btn-marged">
				<a href="/searches/new">
				<button type="button" class="btn btn-success span12">
					<h2><%= raw t 'search.gobutton' %></h2>
				</button></a>
			</div>
		</div>
	</div>
	<div class="span2"></div>
</div>