/target
/ZONE-plugin-ExtractArticlesContent/target/
/ZONE-plugin-OpenCalais/target/
/ZONE-plugin-WikiMeta/target/
/ZONE-RSSreader/target/
/ZONE-RSSreader/target/
/ZONE-utils/target/
/ZONE-plugin-ExtractArticlesContent/target/
/ZONE-plugin-WikiMeta/target/
/ZONE-plugin-OpenCalais/target/
/ZONE-extractor-start/target/
/ZONE-plugin-INSEEGeo/target/
/ZONE-extractor/target/

/log/
/ZONE-RSSreader/log/
/ZONE-plugin-WikiMeta/log/
/ZONE-plugin-OpenCalais/log/
/ZONE-plugin-INSEEGeo/log/
/ZONE-utils/log/
