<h1>Bienvenue sur Ze Ontology News Extractor User Runner!</h1>
<ul>
	<li>
<%= link_to "Lister les critères disponibles", items_path %>
</li>
<li>
<%= link_to "Le flux rss de base", rssfeed_index_path %>
</li>
</ul>
