virtuosoEndpoint: "http://localhost:8890/sparql/"
virtuosoLogin: "dba"
virtuosoPassword: "dba"

zopimId: "1AfdKtAnFnyhyiv9K09kidoNONtAmgvV"

devise:
  twitter:
    auth: ""
    pass: ""
  github:
    auth: ""
    pass: ""
  google:
    auth: ""
    pass: ""