virtuosoEndpoint: "http://localhost:8890/sparql/"
virtuosoLogin: "dba"
virtuosoPassword: "dba"

zopimId: "1AfdKtAnFnyhyiv9K09kidoNONtAmgvV"

stathatId: "mail@example.com"

devise:
  twitter:
    auth: "v"
    pass: "v"
  github:
    auth: "v"
    pass: "v"
  google:
    auth: "v"
    pass: "v"