<script type="text/javascript">

    $(function() {
        // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
        $("#tagsCloud").jQCloud(<%= raw @tags[:result].to_json %>, {
            delayedMode:true,
            shape: "circle"
        });
    });
</script>

<div id="tagsCloud" style="height: 150px;"></div>