<script type="text/javascript">

    $(document).ready(function(){

        // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
        $("#tagsCloud").jQCloud(<%= raw @tags.to_json %>, {
            delayedMode:false,
            shape: "circle",
            afterCloudRender: setTimeout('generateTags()',200)
        });
    });
</script>

<div id="tagsCloud" style="height: 200px; width:800px">
  <div class="background-dino"></div>
</div>


<%= javascript_include_tag "tags_managment" %>