
<script type="text/javascript">
    /*!
     * Create an array of word objects, each representing a word in the cloud
     */
    var word_array = <%= raw @tags[:result].to_json %>;

    $(function() {
        // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
        $("#example").jQCloud(word_array, {
            delayedMode:true,
            shape: "rectangular"
        });
    });
</script>

<div id="example" style="height: 350px;"></div>
