<h1>Configuration du flux:</h1>
<p>Page qui permet de bien configurer son flux</p>
<%= form_tag("/config/index", :method => "get") do %>

<h2>Choix de votre domaine géographique</h2>

<input id="geo" name="geo" type="text" />


<%= submit_tag("→") %>

<% end %>