<h1>Configuration du flux:</h1>
<p>Page qui permet de bien configurer son flux</p>
<%= form_tag("/config/index", :method => "get") do %>

<h2>Choix de votre domaine géographique</h2>

<input id="geo" name="geo" type="text" list="valueList"/>
		  <datalist id="valueList"  >
			<% @allGeo.each do |word| %>
				<option value="<%= word['value'] %>" label="<%= get4StoreNameElem(word['value']) %>" />
			<% end %>
		  </datalist>

<%= submit_tag("→") %>

<% end %>