
.nav > li:not(.active).tabadvancedsearch a{
  font-size :30px;
  background-color: #C0C0C0;
  opacity:0.5;
  border-radius: 4px 4px 0 0;
  margin-left:2px;
}

#advancedSearchModal{
  /* new custom width */
  width: 900px;
  height :560px;
  /* must be half of the width, minus scrollbar on the left (30px) */
  margin-left: -420px;
  padding-top : 10px;
  overflow:auto;
}

/** sources */

div.flipper {
  -webkit-perspective: 800;
  width: 150px;
  height: 150px;
}

div.flipper div.front{
  visibility : visible;
  width: 140px;
  height: 140px;
}

div.flipper div {
  position: absolute;
  -webkit-backface-visibility: hidden;
  -webkit-transition: 280ms ease-in-out;
}

div.flipper div.back {
  visibility : hidden;
  width: 132px;
  height: 140px;
  background-size : cover;
  border-radius: 25px;
  -webkit-transform: rotatey(-180deg);
}

div.flipper:hover div.front {
  -webkit-transform: rotatey(180deg);
  visibility : hidden;
}

div.flipper:hover div.back {
  -webkit-transform: rotatey(0deg);
  visibility : visible;
}

.circleImage {
  border-radius: 25px;
}

.littleCircleImage {
  border-radius: 7px;
}

#sortable-delete {
  height: 18px;
  overflow: hidden;
  background: url('/assets/bin.png') 0 50% no-repeat;
}
#sortable-delete li {
  height: 0;
  width: 0;
  overflow: hidden;
}
ul.sortable {
  padding-bottom: 5px;
}
ul.sortable li {
  cursor: pointer;
}

.breakword{
  word-break:break-all;
}

.filteringOverflow{
  overflow : auto;
  height: 315px;
}

.sourceOverflow{
  overflow : auto;
  max-height: 440px;
}

.keywordOverflow{
  height: 125px;
  overflow: auto;
}

.bodyModal{
  max-height : 450px;
}

.modalContentPane{
  overflow:hidden;
  height:450px;
}

.icon-white{
  color : white;
}

#formModal {
  margin : 0;
}

.ui-autocomplete { 
  z-index:2147483647; 
   max-width:184px;
   
}

.ui-menu-item{
  list-style-type: none;
  padding-left:10px;
  font-size: 12px;
}

.ui-menu li:nth-child(2n+1)
{
    
    background-color: white;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}
.ui-menu li:nth-child(2n)
{
    background-color: white;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}

.ui-menu li:last-child{
  border-bottom: 1px solid #dddddd;
  border-radius:0 0 4px 4px;
}

.ui-menu li:hover{
      background-color: #0088CC;
}

.ui-menu li:hover a{
   color:white;
}

.ui-corner-all:hover{
  background : none;
  text-decoration:none;
  cursor:pointer;
}

#btnWITHOUT{
  border-radius : 0 0 0 0;
}

.input-prepend, .input-append {
    white-space : normal;
  }
  
.paddingFour{
  padding-left:4px;
  padding-right:4px;
}
