
.nav > li:not(.active).tabadvancedsearch a{
  font-size :30px;
  background-color: #C0C0C0;
  opacity:0.5;
  border-radius: 4px 4px 0 0;
  margin-left:2px;
}

#advancedSearchModal{
  /* new custom width */
  width: 900px;
  height :560px;
  /* must be half of the width, minus scrollbar on the left (30px) */
  margin-left: -420px;
  padding-top : 10px;
  overflow:auto;
}


.btnSource{
  margin-top:-17px;
  margin-right : 5px;
  margin-left:5px;
}



/** sources */

div.flipper {
  -webkit-perspective: 800;
  width: 175px;
  height: 175px;
}

div.flipper div.front{
  visibility : visible;
  width: 175px;
  height: 175px;
}

div.flipper div {
  position: absolute;
  -webkit-backface-visibility: hidden;
  -webkit-transition: 280ms ease-in-out;
}

div.flipper div.back {
  visibility : hidden;
  width: 175px;
  height: 175px;
  background-size : cover;
  border-radius: 25px;
  -webkit-transform: rotatey(-180deg);
}

div.flipper:hover div.front {
  -webkit-transform: rotatey(180deg);
  visibility : hidden;
}

div.flipper:hover div.back {
  -webkit-transform: rotatey(0deg);
  visibility : visible;
}

.imageronde {
  border-radius: 25px;
}

.imagerondepetite {
  border-radius: 7px;
}

#sortable-delete {
  height: 18px;
  overflow: hidden;
  background: url('/assets/bin.png') 0 50% no-repeat;
}
#sortable-delete li {
  height: 0;
  width: 0;
  overflow: hidden;
}
ul.sortable {
  padding-bottom: 5px;
}
ul.sortable li {
  cursor: pointer;
}

.breakword{
  word-break:break-all;
}

.overflowFiltre{
  overflow : auto;
  height: 330px;
}

.overflowSource{
  overflow : auto;
  height: 550px;
}

.overflowSynonyme{
  height: 170px;
  overflow: auto;
}
