/**
 *   Autocomplete section
 */
.ui-autocomplete { 
  z-index:1051;  
}

.ui-menu-item{
  list-style-type: none;
  padding-left:10px;
  font-size: 12px;
}

.ui-menu li:nth-child(2n+1)
{
    
    background-color: white;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}
.ui-menu li:nth-child(2n)
{
    background-color: white;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}

.ui-menu li:last-child{
  border-bottom: 1px solid #dddddd;
  border-radius:0 0 4px 4px;
}

.ui-menu li:hover{
      background-color: #0088CC;
}

.ui-menu li:hover a{
   color:white;
}

.ui-corner-all:hover{
  background : none;
  text-decoration:none;
  cursor:pointer;
}

/**
 *   end of autocomplete section
 */

/**
 *   Breadcrumb section
 */
.breadcrumb > li{
  color : #999;
}

.breadcrumb > li.active{
  color : #0088cc;
}
.breadcrumb > li:hover:not(.active){
  cursor: pointer;
  text-decoration : underline;
}

/**
 *   End of breadcrumb section
 */

/**
 *   General source/filtering section
 */

.input-prepend, .input-append {
    white-space : normal;
}

.formHeader{
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}

.titleHeader{
  margin-top: 0px;
  color: white;
}

.titleFormContent{
  margin-top: 10px;
  margin-bottom: 10px;
}

.well{
  word-break: normal;
}

h4.black{
  color:black;
}

h4.white{
  color:white;
}

span.label-wrap{
  white-space: pre-wrap;
  min-height: 0px;
  width: auto;
  margin-top:2px;
  word-break:break-all;
}

#wellRSS,#wellTwitter{
  max-height: 300px;
  overflow-y: auto;
  overflow-x:hidden;
}

.form{
  padding-bottom:5px;
}

.marged{
  margin-bottom:10px;
}

.label-danger{
  background-color: #da4f49;
}

.well-success{
  background-color: #dff0d8;
}

.well-info{
  background-color: #d9edf7;
}

.well-danger{
  background-color: #f2dede;
}

.keywordOverflow{
  max-height: 300px;
  overflow: auto;
}

.icon-white{
  color : white;
}

.label{
  margin:1px;
  cursor:move;
}

/**
 *   End of general source section
 */

/**
 *   Twitter source section
 */  
 
.contentTwitter{
  border-radius:8px;
  margin-top: 10px;
  border: 1px solid #49afcd;
  padding-bottom:5px;
}

#formTwitter:before{
  content:"";
  width:1px;
  height:1px;
  border:1px solid #49afcd;
  border-color:transparent transparent #49afcd transparent;
  border-bottom-width: 15px;
  border-left-width: 15px;
  border-right-width: 15px;
  top: 10px;
  position: relative;
  left: 15%;
}

.formHeader.twitter{
  background-color:#49afcd;
}

.titleFormContent.twitter{
  background-color:#49afcd;
  
}

.formHeader.twitterB{
  background-color:#49afcd;
}

.titleFormContent.twitterB{
  background-color:#49afcd;
}


/**
 *   End of twitter source section
 */

/**
 *   RSS source section
 */
.rssSource{
  cursor: default;
}
.contentRSS{
  border-radius:8px;
  margin-top: 10px;
  border: 1px solid #f89406;
  padding-bottom:5px;
}

#formRSS:before{
  content:"";
  width:1px;
  height:1px;
  border:1px solid #f89406;
  border-color:transparent transparent #f89406 transparent;
  border-bottom-width: 15px;
  border-left-width: 15px;
  border-right-width: 15px;
  top: 10px;
  position: relative;
  left: 83%;
}

.formHeader.rss{
  background-color:#f89406;
}

.titleFormContent.rss{
  background-color:#f89406;
}

.addTheme{
  color: #0088cc;
}
.addTheme:hover{
  background : none;
  color : #0088cc;
  text-decoration : underline;
}
/**
 *  End of RSS source section
 */ 

/**
 *   Filtering section
 */

.numberFiltering{
  background-color: #f5f5f5;
  color: #0088cc;
  border: solid 1px;
}
.bigNumberFiltering{
  border-radius:25px;
  padding-left:10px;
  padding-right:10px;
}

.smallNumberFiltering{
  border-radius:25px;
  padding-left:8px;
  padding-right:8px;
}

/**
 *   End of filtering section
 */

/**
 *   Source users section
 */

a.accordion-toggle:hover{
  background : none;
  color : black;
  text-decoration: none;
}

.accordion-group{
  border:none;
}

.accordion-inner{
  border-top : none;
}

.table td.text-center{
  text-align : center;
}

.table th.text-center{
  text-align : center;
}

td a:hover, td a:visited{
  background:none;
  color:black;
}

span.text-info:hover{
  text-decoration : underline;
}

#btnImport{
  margin-left: 0;
}

#btn_up{
  display : none;
}

.nav-list> li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}

.nav-list> li > a > i{
  opacity : 0.25;
}

.nav-list> li > a:hover{
  color: #005580;
}

.nav-list > li:first-child > a{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.nav-list > li:last-child > a{
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.goTop:hover{
  background: none;
  color: black;
}

.nav-list{
  padding : 0;
}

#navTheme{
  margin-top: 30px;
}

#navTheme.affix{
  top: 60px;
  width: 158px;
  max-height: 80%;
  overflow:auto;
}

fieldset{
  padding-top : 45px;
}

.tdBreakable{
  word-break: break-all;
}
/**
 *   End of source users section
 */