/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 * we remove the items css filtes
 *= stub items_time
 *= stub items_card
 *= stub items_list

 *= require font-awesome

 * dependances for masonry <= items printing
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 */

.navbar-brand {
    margin-left: -15px;
}
.navbar-brand {
    color: #777777;
}
.navbar-brand, .navbar-brand:hover {
    transition: color 0.2s ease-in-out 0s;
}
.navbar-brand {
    float: left;
    font-size: 18px;
}

/* mailling list style*/

#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
.modal-body{
    padding: 0px;
}
.mc-field-group{
    padding-left:10px;
}
#mc_embed_signup form {
    margin: 0px;
    padding: 0px;
}

.icon-refresh-animate {
    animation-name: rotateThis;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display:inline-block !important;
}

@keyframes rotateThis {
    from { transform: scale( 1 ) rotate( 0deg );   }
    to   { transform: scale( 1 ) rotate( 360deg ); }
}