// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body-content {
    margin: 20px;
    border-radius: 4px;
    background: whitesmoke;
    border: solid 1px #CCC;
}

.body-content > div {
    margin: 20px;
}
.search{
  margin-top:150px;
}

.splash{
  background: none repeat scroll 0 0 #EEEEEE;
  margin-top:60px;

  height: 300px;
  /* TODO better hack */

}