// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body-content {
    margin: 20px;
    border-radius: 4px;
    background: whitesmoke;
    border: solid 1px #CCC;
}

.body-content > div {
    margin: 20px;
}
.search{
  margin: 60px auto 50px;
}
.container{
  min-height: 100%;
}
.search{
  overflow:auto;
  padding-bottom:50px; /* this needs to be bigger than footer height*/
}

.splash{
  border-bottom: 1px solid #DDDDDD;
  border-top: 1px solid #DDDDDD;
  background: none repeat scroll 0 0 #F5F5F5;
  margin-top:0px;
  padding-top: 10px;
  padding-left:0;
  padding-right: 0;
  width: 100%;

  position: relative;
}
.splash-on{
  margin-top: auto; /* negative value of footer height */
  height: auto;
  clear:both;
  padding-top:0px;

}
.splash-off{
  margin-top: -82px; /* negative value of footer height */
  height: 80px;
  clear:both;
  padding-top:0px;

}


.more-infos h1{
  margin-bottom: 0;
}

#why h4 [class^="icon-"], #who h4 [class^="icon-"], #why h4 [class*=" icon-"], #who h4 [class*=" icon-"] {
  font-size: 28px;
  margin-right: 5px;
  vertical-align: -10%;
  color: #006400;
}

#who{
  margin-top:30px;
}
#who{
}

.infos-off{
  display: none;
}

.infos-on{
  display: inline;
}

#who h4{
  font-size: 2em;
}
.infos h4{
  color: #006400;
}

.more-infos h1 a{
  color: #006400;
}

.btn-marged{
  margin-top:20px;
}

.more-infos h1 a:hover{
  background:none;
}
