// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#rss-button{
  position: absolute;
  top: 300px;
}

a.label:visited{
  color:white;
}

.btn-group+.btn-group {
  margin-left:0px;
}

.btn-group{
  margin-right: 5px;
}
