.search-zone{
  min-padding-left:10px;
  min-padding-right:10px;
  min-width: 300px;
  margin: -5px 20px 10px 20px;
  padding: 25px 5px 5px 5px;
}

.goButton{
  margin-top:20px;
}

.fake-input{
  margin-top:20px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.select-source-input{
  background-color: #ffffff;
  margin-top: 0px;
}

.select-source-ul{
  margin-top: 0px;
}

.tagit li.tag .close {
  opacity: 1;
  color:  #808080;
}

#dino-logo{
  padding-top:0px;
}

#reador-title{
  min-width: 340px;
}


#search-form, #sources-list{
  padding-left: 0px;
  padding-right: 0px;
}

.ui-helper-hidden-accessible { 
  display:none; 
}