#reador-title{
  padding-top:0px !important;
  padding-bottom:0px !important;


  font-size: 31.5px;
  line-height: 40px;
  font-family: inherit;
  font-weight: bold;
  text-rendering: optimizelegibility;


}
.home-input-search{
  border-color:white !important;
  padding-top:0px !important;
  padding-bottom:0px !important;
  font-size:90% !important;
  background-color:transparent !important;

  border:none !important;
  height: 100% !important;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset !important;
  display: inline-block !important;
  margin-top: 0px !important;
  margin-bottom: 1px !important;
}

.ui-autocomplete .ui-menu-item {
  font-size:160% !important;
  padding-bottom: 2px;
  padding-top: 2px;
  color:#555555;

}
.ui-menu .ui-menu-item {
  border-color: transparent #5A8F00;
  border-width: 0px 5px 5px 5px;
  border-style: solid;
}

