// Place all the styles related to the Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-body.importOpml{
  padding: 9px 15px;
}

#formOpml{
  margin-bottom: 0;
}

.importRss{
  padding-top: 5px;
  max-height: 20em;
  overflow: auto;
}

.importRss td{
  word-break : break-all;
}

a.btn:visited{
  color:white;
}