.search-zone{
  margin-top:70px;
  min-padding-left:10px;
  min-padding-right:10px;
  text-align:center;
  min-width: 300px;
}

.goButton{
  margin-top:20px;
}

.fake-input{
  margin-top:20px;
  width: 100%;
  text-align: left;
}
